[submodule "vim/pack/plugins/opt/vim-terminal-help"]
	path = vim/pack/plugins/opt/vim-terminal-help
	url = https://github.com/skywind3000/vim-terminal-help.git
[submodule "vim/pack/plugins/opt/vim-airline"]
	path = vim/pack/plugins/opt/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/plugins/opt/vim-sensible"]
	path = vim/pack/plugins/opt/vim-sensible
	url = https://github.com/tpope/vim-sensible
